<section class="p-3">

    <div class="bg-slate-100 rounded-md p-3 shadow-md">
        <h1 class="text-blue-500 font-semibold text-xl">Change Password</h1>
        <form [formGroup]="changePasswordForm" (ngSubmit)="change()">
            <div class="my-4">
                @let passwordControl = this.changePasswordForm.get('password');
                <label class="ml-2 my-2 block" for="password">Old Password:</label>
                <input [class]="{
                    'input-valid' : passwordControl?.errors && passwordControl?.touched,
                    'input-invalid' : !passwordControl?.errors && passwordControl?.touched,
                }" formControlName="password" type="password" id="password" placeholder="ex:Example@123" class="w-full border-2 focus:border-slate-800 border-slate-500 placeholder:text-slate-700 rounded-full">
            </div>
            <div class="my-4">
                @let newPasswordControl = this.changePasswordForm.get('newPassword');
                <label class="ml-2 my-2 block" for="password">New Password:</label>
                <input [class]="{
                    'input-valid' : newPasswordControl?.errors && newPasswordControl?.touched,
                    'input-invalid' : !newPasswordControl?.errors && newPasswordControl?.touched,
                }" formControlName="newPassword" type="password" id="password" placeholder="ex:Example@123" class="w-full border-2 focus:border-slate-800 border-slate-500 placeholder:text-slate-700 rounded-full">
            </div>
            <button class="main-btn">Change Password</button>
        </form>
    </div>

</section>