<section class="p-2">

    <h1 class="font-semibold text-blue-500 text-center text-5xl my-5">Linked Posts <span class="text-blue-400 font-bold"><i class="fa-brands fa-staylinked"></i></span></h1>

    <div class="rounded-md p-3 shadow-lg bg-white dark:shadow-slate-600">
        @if(resMessage){<h1 class="w-3/4 p-3 mx-auto text-3xl text-slate-50 font-semibold text-center bg-sky-400 rounded-md"> {{resMessage}} </h1>}
        <form [formGroup]="loginForm" (ngSubmit)="LoginUser()">

            <div class="my-4">
                @let emailControl = this.loginForm.get('email');
                <label class="ml-2 my-2 block" for="email">Email:</label>
                <input [class]="{
                    'input-valid' : emailControl?.errors && emailControl?.touched,
                    'input-invalid' : !emailControl?.errors && emailControl?.touched,
                }" formControlName="email" type="email" id="email" placeholder="ex:Example@example.com" class="w-full border-2 focus:border-slate-800 border-slate-500 placeholder:text-slate-700 rounded-full">
            </div>
            <div class="my-4">
                @let passwordControl = this.loginForm.get('password');
                <label class="ml-2 my-2 block" for="password">Password:</label>
                <input [class]="{
                    'input-valid' : passwordControl?.errors && passwordControl?.touched,
                    'input-invalid' : !passwordControl?.errors && passwordControl?.touched,
                }" formControlName="password" type="password" id="password" placeholder="ex:Example@123" class="w-full border-2 focus:border-slate-800 border-slate-500 placeholder:text-slate-700 rounded-full">
            </div>

            <div class="my-4">
                <button [disabled]="loginForm.invalid" class="main-btn">Login</button>
            </div>
        </form>

    </div>

</section>