<nav class="bg-white sticky top-0 left-0 right-0 z-50 rounded-b-lg border-gray-200 transition-all duration-500 dark:bg-gray-600">
    <div class="w-full sm:w-full md:w-[90%] flex flex-wrap items-center justify-between mx-auto p-2">
        <a routerLink="/timeline" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-black text-blue-500 whitespace-nowrap dark:text-white">
                Liked Posts
                <span class=" dark:text-white text-blue-400 font-bold"><i class="fa-brands fa-staylinked"></i></span>
            </span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden transition-all duration-150 w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="font-medium md:items-center flex flex-col gap-3 md:gap-0 p-4 md:p-2 mt-4 border border-gray-100 rounded-md bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-900 md:dark:bg-gray-600 dark:border-gray-700">
                @if(loginCheck()==true){
                    <li>
                        <a routerLink="/profile" class="block rounded-full bg-gray-700 p-3">
                            @if(!userData){
                                <img class="w-10 h-10" src="./images/profile.png" alt="">
                            }@else{
                                <div class="flex flex-wrap gap-2 items-center">
                                    <img class="w-10 h-10 rounded-full" [src]="userData.photo" alt="">
                                    <span class="text-white font-semibold"> {{userData.name}} </span>
                                </div>
                            }
                        </a>
                    </li>
                }


                @if(loginCheck()==false){
                    <li>
                        <a routerLink="/login"
                            class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-white ">
                            Login
                        </a>
                    </li>
                    <li>
                        <a routerLink="/register"
                            class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-white ">
                            Register
                        </a>
                    </li>
                }@else{
                    <li>
                        <a
                            (click)="LogOut()"
                            class="block cursor-pointer py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-white ">
                            Log out
                        </a>
                    </li>
                }

               
            </ul>
        </div>
    </div>
</nav>